* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;

  text-decoration: none;
  color: black;
}

/*------------------------------ grids ------------------------------*/

.main-grid {
  display: flex;
  justify-content: center;
}

.parent-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  max-width: 1000px;
  padding: 0 5px;

  margin-top: 3rem;
  border-radius: 50px;
}

.inner-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  width: 460px;
  height: 250px;

  border-radius: 50px;
}

.inner-div-XL {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  width: 950px;
  height: 300px;

  border-radius: 50px;
}

.div-with-img-and-li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 460px;
}

.div-with-img-and-li-XL {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 700px;
}

.div-with-img-and-li-XL ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-with-img-and-li ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-div:hover {
  transition-duration: 0.5s;
  transform: scale(1.03);
}

.inner-div-XL:hover {
  transition-duration: 0.5s;
  transform: scale(1.03);
}

.inner-div:not(:hover) {
  transition-duration: 0.5s;
  transform: scale(1);
}

.inner-div-XL:not(:hover) {
  transition-duration: 0.5s;
  transform: scale(1);
}

/*---------------------------- 240sx grids ----------------------------*/

.sx-photo-grid {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.sx-parent-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  max-width: 1000px;
  padding: 0 5px;

  margin-top: 3rem;
  border-radius: 50px;
}

.sx-photo-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;

  width: 500px;
  
  border-radius: 50px;
}

.sx-photo-div:hover {
  transition-duration: 0.5s;
  transform: scale(1.03);
}

.sx-photo-div:not(:hover) {
  transition-duration: 0.5s;
  transform: scale(1);
}

.sx-div-with-img-and-li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  margin: 2rem;
  width: 460px;
}

.sx-div-with-img-and-li ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem;
}

/*------------------------------ header ------------------------------*/

.title {
  text-align: center;
  background-color: #333333;
  font-size: 48px;
  padding: 0.5rem;
}

.menu {
  display: inline-block;
  right: 10px;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
}

.menu-box {
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-top: 3rem;
  background-color: #333333;
}

.menu:hover + .menu-box {
  display: flex;
}

.menu-box:hover {
  display: flex;
}

.menu-button {
  width: 300px;
  box-shadow: 0 5px 5px #3d3d3d;

  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

/*--------------------------- background color ------------------------*/

.bg {
  background-color: #3d3d3d;
}

.main-div-bg {
  background-color: #333333;
}

/*--------------------------------- img -------------------------------*/

.fake-img {
  border-radius: 1rem;
  height: 150px;
  width: 260px;
  background-color: purple;
}

.fake-img-XL {
  border-radius: 1rem;
  width: 450px;
  height: 200px;
  background-color: purple;
}

.car-names{
  display: flex;
  align-items: center;
}